@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?e3cq41');
  src:  url('fonts/icomoon.eot?e3cq41#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?e3cq41') format('truetype'),
    url('fonts/icomoon.woff?e3cq41') format('woff'),
    url('fonts/icomoon.svg?e3cq41#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-earth:before {
  content: "\e902";
}
.icon-th-menu:before {
  content: "\e900";
}
.icon-cog:before {
  content: "\f013";
}
.icon-gear:before {
  content: "\f013";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-sitemap:before {
  content: "\f0e8";
}
.icon-log-out:before {
  content: "\e901";
}
.icon-home:before {
  content: "\e906";
}
.icon-users:before {
  content: "\e972";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-user-minus:before {
  content: "\e974";
}
